<div class="login-box mt-5" style="overflow: auto; max-height: 550px; background: rgba(57, 175, 57, 0.75) !important;" >
    <div class="user-box">
        <input type="password" id="senhaAtual" name="senhaAtual" style="color:#fff" required>
        <label>Senha Atual</label>

        <div class="invalid-feedback">
            Por favor informe a Senha Atual.
        </div>
    </div>

    <div class="user-box">
        <input type="password" id="novaSenha" name="novaSenha" style="color:#fff" required>
        <label>Nova Senha</label>
    </div>

    <div class="user-box">
        <input type="password" id="confSenha" name="confSenha" style="color:#fff" required>
        <label >Confirmação de Senha</label>

        <div class="invalid-feedback">
            A Nova senha deve ser igual a confirmação de senha!
        </div>
    </div>


    <button id="alterar" class="btn btn-success text-center mt-2" style="margin-left: 100px">Alterar senha</button>
</div>

