<div class="search-container mt-5">

    <label for="searchWasteType">Pesquisa por tipo de resíduo:</label>
    <input type="text" id="searchWasteType" style="border-radius: 5px;" placeholder="Insira o tipo de resíduo...">

    <label for="searchCity">Pesquisar por cidade:</label>
    <input type="text" id="searchCity" style="border-radius: 5px;" placeholder="Entre na cidade...">
</div>

<div class="row mt-5" style="overflow: auto; max-height: 550px">
    <div th:each="ponto : ${pdc}" class="col-4 mb-5">
        <div class="mt-5"
             style="padding: 10px; margin: 10px; background-color: rgba(57, 175, 57, 0.75); border-radius: 15px">
            <h1 class="cursive text-center" style="margin-top:15px; color: white; font-size: 30px;">Ponto de Coleta</h1>
            <div class="linha-horizontal"></div>
            <h4 class="cursive" th:text="${'Cidade: '+ ponto.cidade}" data-label="cidade"
                style="margin-top:15px; margin-left: 20px; color: white; font-size: 25px;"></h4>
            <h4 class="cursive" th:text="${'Rua: '+ ponto.rua}" data-label="rua"
                style="margin-top:15px; margin-left: 20px; color: white; font-size: 25px;"></h4>
            <h4 class="cursive" th:text="${'Bairro: '+ ponto.bairro}" data-label="bairro"
                style="margin-top:15px; margin-left: 20px; color: white; font-size: 25px;"></h4>
            <h4 class="cursive" th:text="${'Numero: '+ ponto.numero}" data-label="numero"
                style="margin-top:15px; margin-left: 20px; color: white; font-size: 25px;"></h4>
            <h4 class="cursive" th:text="${'Tipo de lixo: '+ ponto.tipo_lixo}" data-label="tipo_lixo"
                style="margin-top:15px; margin-left: 20px; color: white; font-size: 25px;"></h4>
            <h4 class="cursive" th:text="${'Data Inicial: '+ ponto.data_inicio}" data-label="data_inicio"
                style="margin-top:15px; margin-left: 20px; color: white; font-size: 25px;"></h4>
            <h4 class="cursive" th:text="${'Data Final: '+ ponto.data_final}" data-label="data_final"
                style="margin-top:15px; margin-left: 20px; color: white; font-size: 25px;"></h4>
        </div>
    </div>
</div>
