<div class="search-container mt-5">

    <label for="searchWasteType" style="color:#fff;">Pesquisa por tipo de resíduo:</label>
    <input type="text" id="searchWasteType" style="border-radius: 5px;" placeholder="Insira o tipo de resíduo...">

    <label for="searchCity" style="color:#fff;">Pesquisar por cidade:</label>
    <input type="text" id="searchCity" style="border-radius: 5px;" placeholder="Insira o nome da cidade...">
</div>
<div class="btn-group mt-5" role="group" aria-label="Basic checkbox toggle button group">
    <input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off">
    <label class="btn btn-outline-light" for="btncheck1">Meus Pontos</label>
</div>
<div class="row mt-5" style="overflow: auto; max-height: 550px" id="pontos">
    <div th:each="ponto : ${pdc}" th:class="${email.id == ponto.usuario_id ? 'col-4 mb-5' : 'col-4 mb-5 oto'}" th:if="${ponto.ativo == true}">
        <div class="mt-5"
             style="padding: 10px; margin: 10px; background-color: rgba(57, 175, 57, 0.75); border-radius: 15px">
            <h1 class="cursive text-center" style="margin-top:15px; color: white; font-size: 30px;">Ponto de Coleta</h1>
            <div class="linha-horizontal"></div>
            <h4 class="cursive" th:text="${'Cidade: '+ ponto.cidade}" data-label="cidade"
                style="margin-top:15px; margin-left: 20px; color: white; font-size: 25px;"></h4>
            <h4 class="cursive" th:text="${'Rua: '+ ponto.rua}" data-label="rua"
                style="margin-top:15px; margin-left: 20px; color: white; font-size: 25px;"></h4>
            <h4 class="cursive" th:text="${'Bairro: '+ ponto.bairro}" data-label="bairro"
                style="margin-top:15px; margin-left: 20px; color: white; font-size: 25px;"></h4>
            <h4 class="cursive" th:text="${'Numero: '+ ponto.numero}" data-label="numero"
                style="margin-top:15px; margin-left: 20px; color: white; font-size: 25px;"></h4>
            <h4 class="cursive" th:text="${'Tipo de lixo: '+ ponto.tipo_lixo}" data-label="tipo_lixo"
                style="margin-top:15px; margin-left: 20px; color: white; font-size: 25px;"></h4>
            <h4 class="cursive" th:text="${'Data Inicial: '+ ponto.data_inicio}" data-label="data_inicio"
                style="margin-top:15px; margin-left: 20px; color: white; font-size: 25px;"></h4>
            <h4 class="cursive" th:text="${'Data Final: '+ ponto.data_final}" data-label="data_final"
                style="margin-top:15px; margin-left: 20px; color: white; font-size: 25px;"></h4>

            <div class="row mt-5">
                <a class="btn btn-primary col-3"
                        style="margin-left: 25px; margin-top: 5px; margin-bottom: 5px"
                   data-bs-toggle="modal" data-bs-target="#exampleModal" th:data-usuario-id="${ponto.usuario_id}">Solicitar
                </a>

                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Solicitação</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="input-group mb-3 gData_nasc">
                                        <label class="input-group-text">Email</label>
                                        <input  id="email" type="email" class="form-control"/>
                                    </div>
                                </div>
                                <div class="input-group mb-3 gData_nasc">
                                    <label class="input-group-text">Tipo de Lixo</label>
                                    <input  id="tipo" type="email" class="form-control"/>
                                </div>
                                <div class="input-group mb-3 gData_nasc">
                                    <label class="input-group-text">Quantidade de Lixo</label>
                                    <input  id="qtd" type="number" class="form-control"/>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Sair</button>
                                    <button type="button" class="btn btn-success">Mandar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                <a class="btn btn-success col-3"
                        style="margin-left: 25px; margin-top: 5px; margin-bottom: 5px"
                        th:if="${email.id == ponto.usuario_id}" href="/editarponto"  th:href="${'/editar/' + ponto.ponto_id}">Editar
                </a>
                <a class="btn btn-danger col-3" style="margin-left: 25px; margin-top: 5px; margin-bottom: 5px"
                        th:if="${email.id == ponto.usuario_id}" th:href="${'/excluir/' + ponto.ponto_id}">Excluir
                </a>
            </div>

        </div>
    </div>
</div>
