<div class="login-box mt-5" style="overflow: auto; max-height: 550px; background: rgba(57, 175, 57, 0.75) !important;"
     xmlns:style="http://www.w3.org/1999/xhtml">
    <h2>Criar ponto de coleta</h2>

    <div class="user-box">
<!--        <input type="text" id="cidade" name="tipo" placeholder="" required="">-->
<!--        <label>Informe o nome da Cidade</label>-->
<!--        </input>-->

        <select id="cidade" style=" ; margin-bottom: 15px; width: 350px; height: 35px; background-color: rgba(57, 175, 57, 0.75); ; color: white;">
            <option th:each="a : ${cidades}" th:text="${a.cidade + ' - ' + a.uf}"></option>
        </select>
    </div>
    <div class="user-box">
        <input type="text" id="bairro" name="bairro" placeholder="" required="">
        <label>Informe o nome do Bairro</label>
        </input>
    </div>

    <div class="user-box">
        <input type="text" id="rua" name="rua" placeholder="" required="">
        <label>Informe o nome da Rua</label>
        </input>
    </div>

    <div class="user-box">
        <input type="text" id="numero" name="tipo" placeholder="" required="">
        <label>Informe o numero da Casa</label>
        </input>
    </div>

    <div class="input-group mb-3 gData textfield user-box">
        <h6 style="color: #fff">Selecione o tipo de lixo:</h6>
        <select id="tipo_lixo" style=" ; margin-bottom: 15px; width: 350px; height: 35px; background-color: rgba(57, 175, 57, 0.75); ; color: white;">
            <option>Bateria</option>
            <option>Celular</option>
            <option>Pilha</option>
            <option>Televisão</option>
            <option>Computador</option>
            <option>Outros</option>
        </select>
    </div>

    <div class="input-group mb-3 gData textfield user-box">
        <input  id="data_inicial" name="data" type="datetime-local" class="form-control"
                placeholder="" aria-label=""
                aria-describedby="sp_data"/>
        <label>Data e Hora inicial</label>

    </div>
    <div class="input-group mb-3 gData textfield user-box">
        <input  id="data_final" name="data" type="datetime-local" class="form-control"
                placeholder="" aria-label=""
                aria-describedby="sp_data"/>
        <label>Data e Hora final</label>
    </div>
    <a id="enviar" class="btn btn-success text-center mt-2" style="margin-left: 125px">Criar</a>

</div>

