<div class="login-box mt-5" style="overflow: auto; max-height: 550px; background: rgba(57, 175, 57, 0.75) !important;"
    >
    <h2>Criar ponto de coleta</h2>

    <div class="user-box">
        <input id="cidade" list="cidadeList" class="search-select">
        <label>Informe o nome da Cidade</label>
        <datalist id="cidadeList">
            <option value=""  disabled>Select Option</option>
            <option th:each="a : ${cidades}" th:data-value="${a.cod_cidade}" th:value="${a.cidade + ' - ' + a.uf}"></option>
        </datalist>
    </div>

    <div class="user-box">
        <input type="text" id="bairro" name="bairro" placeholder="" required="">
        <label>Informe o nome do Bairro</label>
        </input>
    </div>

    <div class="user-box">
        <input type="text" id="rua" name="rua" placeholder="" required="">
        <label>Informe o nome da Rua</label>
        </input>
    </div>

    <div class="user-box">
        <input type="text" id="numero" name="tipo" placeholder="" required="">
        <label>Informe o numero</label>
        </input>
    </div>

    <div class="user-box">
        <input  id="tipo_lixo" list="LixoList" class="search-select" multiple>
        <label>Informe o nome do Lixo</label>
        <datalist id="LixoList">
            <option value=""  disabled>Select Option</option>
            <option th:each="r : ${tipo_residuo}" th:data-value="${r.id}" th:value="${r.nome}"></option>
        </datalist>
    </div>

    <div class="input-group mb-3 gData textfield user-box">
        <input  id="data_inicial" name="data" type="datetime-local" class="form-control"
                placeholder="" aria-label=""
                aria-describedby="sp_data"/>
        <label>Data e Hora inicial</label>

    </div>
    <div class="input-group mb-3 gData textfield user-box">
        <input  id="data_final" name="data" type="datetime-local" class="form-control"
                placeholder="" aria-label=""
                aria-describedby="sp_data"/>
        <label>Data e Hora final</label>
    </div>
    <a id="enviar" class="btn btn-success text-center mt-2" style="margin-left: 125px">Criar</a>

</div>

