<div class="login-box mt-5 " >
    <h2>Criar ponto de coleta</h2>
    <div class="user-box">
        <input type="text" id="bairro" name="bairro" paceholder="" required="">
        <label>Informe o nome do Bairro</label>
    </div>

    <div class="user-box">
        <input type="text" id="rua" name="rua" paceholder="" required="">
        <label>Informe o nome da Rua</label>
    </div>

    <div class="user-box">
        <input type="text" id="tipo" name="tipo" paceholder="" required="">
        <label>Informe o tipo do lixo eletrônico</label>
    </div>
    <a class="button-login text-center" id="enviar">Criar</a>

</div>


<!--<div class="input-group mb-3 gData textfield">-->
<!--    <label>Data e Hora inicial da reserva</label>-->
<!--    <input  id="data_inicio" name="data" type="datetime-local" class="form-control"-->
<!--            placeholder="" aria-label=""-->
<!--            aria-describedby="sp_data"/>-->
<!--</div>-->
<!--<div class="input-group mb-3 gData textfield">-->
<!--    <label>Data e Hora final da reserva</label>-->
<!--    <input  id="data_final" name="data" type="datetime-local" class="form-control"-->
<!--            placeholder="" aria-label=""-->
<!--            aria-describedby="sp_data"/>-->
<!--</div>-->