<div class="row">
    <div class="square"
         style="margin-top: 80px; width: 375px; height: 400px; background-color: rgba(57, 175, 57, 0.75); margin-left: 50px; border: 2px solid black;">

        <h1 class="cursive text-center" style="margin-top:15px; color: white; font-size: 30px;">Perfil</h1>
        <div class="linha-horizontal"></div>
        <h4 class="cursive" th:text="${'Nome: '+ email.nome} + ' '"
            style="margin-top:15px; margin-left: 20px; color: white; font-size: 25px;"></h4>
        <h4 class="cursive" th:text="${'E-mail: '+ email.email} + ' '"
            style="margin-top:15px; margin-left: 20px; color: white; font-size: 25px;"></h4>
        <h4 class="cursive" th:text="${'Telefone: '+ email.telefone} + ' '"
            style="margin-top:15px; margin-left: 20px; color: white; font-size: 25px;"></h4>
        <button class="cursive" style="margin-top:15px; margin-left: 20px; color: white; font-size: 25px;">Alterar
            senha</button>

    </div>
    <div class="square"
         style="margin-top: 80px; width: 750px; height: 400px; background-color: rgba(250, 255, 253, 0.75); margin-left: 110px; border: 2px solid black;">

        <h4 style="margin-top:20px; margin-left: 10px; color: black; font-size: 25px;">Dicas para os criadores de Pontos de Coleta.</h4>
        <h4 style="margin-top:20px; margin-left: 10px; color: black; font-size: 25px;"> Se não há lugar para descarte, aqui vão algumas opções:</h4>
    </div>
</div>

