<div class="row">
    <div class="square"
         style="border-radius: 15px; margin-top: 80px; width: 375px; height: 400px; background-color: rgba(57, 175, 57, 0.75); margin-left: 50px;">

        <h1 class="cursive text-center" style="margin-top:15px; color: white; font-size: 30px;">Perfil</h1>
        <div class="linha-horizontal"></div>
        <h4 class="cursive" th:text="${'Nome: '+ email.nome} + ' '"
            style="margin-top:15px; margin-left: 20px; color: white; font-size: 25px;"></h4>
        <h4 class="cursive" th:text="${'E-mail: '+ email.email} + ' '"
            style="margin-top:15px; margin-left: 20px; color: white; font-size: 25px;"></h4>
        <h4 class="cursive" th:text="${'Telefone: '+ email.telefone} + ' '"
            style="margin-top:15px; margin-left: 20px; color: white; font-size: 25px;"></h4>
        <a class="cursive" style="margin-top:15px; margin-left: 20px; color: white; font-size: 25px;"
           href="/alterarsenha">Alterar Senha</a>

    </div>
    <div class="square"
         style="margin-top: 80px; width: 750px; height: 400px; background-color: #fff; margin-left: 110px; border: 2px solid black;">
        <h2>Solicitações:</h2>

    </div>
</div>
